.addLeave-container{
  width:600px;
  height:500px;
  margin:10px auto;
  padding :30px;
  border:1px solid#ccc;
  border-radius:5px;
  text-align:left;
  font-family: Arial, sans-serif;
  
}

.addLeave-container h2{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.addLeave-container label{
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color:#444;


}
.addLeave-container select{
  width:100%;
}
.addLeave-container input{
  width:100%;
  padding:10px;
  margin-top: 10px;
  border:1px solid #ccc;
  border-radius: 6px;
  font: size 15px;

}