.App {
  text-align: center;
  width:100vw;
  height:100vh;
  body{
    margin: 0;
    padding:0;
  }
}




.favorite-styled {
  background-color: #4B81F4;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: absolute;
  right: 20px;
  top:150px;
}

.favorite-styled:hover {
  background-color: #4B81F4;
}













